@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap")

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Great Vibes', serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Cinzel Decorative', serif;
}

p {
	font-family: Indie Flower, serif;
}

a {
	text-decoration: none;
	color: brown;
}
a:hover{
	color: rosybrown;
}

.list-inline {
	list-style : none;
	padding-left : 0px
}
.list-inline li {
	display: inline;
	padding: 15px;
}
.list-inline i {
	font-size: 45px;
}
